

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.mainDiv{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    min-height:100vh;
    background-image: url('../../images/background.png');
  
}
.secDiv{
    display:flex;
    flex-direction: column;
    justify-content: center;
    min-height: 15vh;
    background-color:rgb(245, 243, 243);
    box-shadow: 0px 5px 14px 5px rgba(0,0,0,0.79);
    
    
}
.navBar{
    display:flex;
    min-height: auto;
    background-color:rgb(245, 243, 243);
    margin-top: 20px;
    
    
}

.logo{
    height: 50px;
    align-self: center;
    margin-left: 30px;
    filter: drop-shadow(1.5px 1.5px 1.5px #222);
}


.formStyle{
   
    margin-left: 40px;
    align-self: center;
    height: auto;
    
}

.inpt{
   width:500px;
   height: 40px;
   font-size: 1rem;
   padding-left:20px;
   border-radius: 20px;
   border: 1px solid rgb(126, 126, 126);
   font-family:'Roboto', sans-serif;
   font-weight: 400;
  
   
}

.inpt:focus{
    outline: none;
   
}

.searchBarDiv{
    height:10%;
    align-self: center;
}

.divLinks{
    width: 690px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.Links{
    margin-right: 20px;
    text-decoration: none;
    color:black;
    font-family:'Roboto', sans-serif;
    
}
