

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.mainDiv{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    min-height:100vh;
    background-image: url('../../images/background.png');
    overflow: auto;
  
}
.secDiv{
    display:flex;
    flex-direction: column;
    justify-content: center;
    min-height: 15vh;
    background-color:rgb(245, 243, 243);
    box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.79);
    
    
}
.navBar{
    display:flex;
    min-height: auto;
    background-color:rgb(245, 243, 243);
    margin-top: 20px;
    
    
}

.logo{
    height: 50px;
    align-self: center;
    margin-left: 30px;
    filter: drop-shadow(1.5px 1.5px 1.5px #222);
    cursor:pointer;
}

.logo:hover{
    animation: move 0.5s infinite;
    animation-direction: alternate;
}

@keyframes move {
    0% {
      transform: rotate(3deg)
    }
    100% {
      transform: rotate(-3deg);
    }
  }
  


.formStyle{
   
    margin-left: 40px;
    align-self: center;
    height: auto;
    display: flex;
}

.inpt{
   width:500px;
   height: 40px;
   font-size: 1rem;
   padding-left:20px;
   border-radius: 20px;
   border: 1px solid rgb(126, 126, 126);
   font-family:'Roboto', sans-serif;
   font-weight: 400;
   align-self: center;
  
   
}

.inpt:focus{
    outline: none;
   
}

.searchBarDiv{
    height:10%;
    align-self: center;
    
}

.divLinks{
    width: 690px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.Links{
    margin-right: 20px;
    text-decoration: none;
    color:black;
    font-family:'Roboto', sans-serif;
    
}
.icon{
    height:40px;
    width: auto;
    margin-left: 3px;
    align-self: center;
    border: 1px solid rgb(126, 126, 126);
    border-radius: 100%;
}

.icon:hover{
    background-color: rgb(212, 212, 212);
}

.btn{
    border:none;
    background-color: transparent;
    cursor:pointer;
}

.btn:focus{
    outline:none;
}