
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
.mainDiv{
    
    background-image: url('../../images/fondoLanding.jpg');
    min-height: 100vh;
    background-size:100% 100%;
    
}

.secondDiv{
   
   min-height: 100vh;
   max-height: 100vh;
   display: flex;
   flex-direction: column;
  
   
  
}

.img{
    width:30%;
    align-self: center;
    margin-top:120px;
    filter: drop-shadow(5px 5px 5px #222);
}

.buttonDiv{
    display: flex;
    flex-direction: row;
    align-self: center;
    margin:50px;
}
.btn{
   font-family:'Roboto', sans-serif;
    font-size: 1.5rem;
    padding:10px;
    width:150px;
    border-radius: 15px;
    border:none;
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;

}

.btn:focus{
    outline: none;
    filter: none;
}

.btn:hover{
    
    animation: move 0.5s infinite;
    animation-direction: alternate;
    
}

@keyframes move {
    0% {
      transform: rotate(3deg)
    }
    100% {
      transform: rotate(-3deg);
    }
  }
  