@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.containerFilters{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
}

.form{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}

.select{
    width:60%;
    border: 1px solid rgb(126, 126, 126);
    background: transparent;
    padding:5px;
    font-family:'Roboto', sans-serif;
    
}


 
 .btnSubmit{
   width:35%;
   padding: 0;
   height: 30px;
   align-self: center;
   font-family:'Roboto', sans-serif;
   border-radius: 10px;
   border:none;
   filter: drop-shadow(1.5px 1.5px 1.5px #222);
   background-color:rgb(212, 212, 212);
   cursor:pointer
 }
.btnSubmit:focus{
    outline: none;
    
   
}
.btnSubmit:active{
    filter: none;
}

.btnActive{
    width:15%;
   padding: 0;
   height: 30px;
   align-self: center;
   font-family:'Roboto', sans-serif;
   border-radius: 10px;
   border:none;
   background-color:rgb(212, 212, 212);
   cursor: pointer;
   box-shadow: inset 7px 7px 8px -7px rgba(34,34,34,0.66);}

.btnActive:focus{
    outline: none;
}


