@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
.divPag{
    display:flex;
    width: 100vw;
    justify-content: center;
}


.btn{
    outline: none;
    margin:5px;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    cursor:pointer
}

.btn:hover{
    background-color: rgb(212, 212, 212);
}
